@model IEnumerable<CRUD_OperationsInMVC.Models.Employee>
@{
    ViewBag.Title = "Index";
}
<style>
    .list {
        text-align: center;
    }
    .item>th, .item>td{
        padding: 10px;
        color: orangered;
    }
</style>
<h1 style="text-align: center">Danh sách nhân viên </h1>

<table class="list" border="1">
    <tr class="item">
        <th>@Html.DisplayNameFor(model => model.EmployeeID)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Gender)</th>
        <th>@Html.DisplayNameFor(model => model.City)</th>
        <th>@Html.DisplayNameFor(model =>model.Salary)</th>
    </tr>
    @foreach(var one in Model)
    {
<tr class="item">
    <td>@Html.DisplayFor(modelItem => one.EmployeeID)</td>
    <td>@Html.DisplayFor(modelItem => one.Name)</td>
    <td>@Html.DisplayFor(modelItem => one.Gender)</td>
    <td>@Html.DisplayFor(modelItem => one.City)</td>
    <td>@Html.DisplayFor(modelItem => one.Salary)</td>
</tr>
    }
</table>